<section class="what-we-do-section">
	<div class="container">
		<div class="row">
			<h1 class="page-titles">what we do</h1>
			<div class="col">
				<div class="col-6 float-left">
					<div class="what-we-do-tiles">
						<div class="what-we-do-tiles-center">
							<div class="what-we-do-icon">
								<i class="fa fa-cogs" aria-hidden="true"></i>
							</div>
							<div class="what-we-do-title">
								Integer Pulvinar
							</div>
							<div class="what-we-do-details">
								integer is amet mattis quam, sit amet ultricies velit...
							</div>
						</div>
					</div>
				</div>
				<div class="col-6 float-left">
					<div class="what-we-do-tiles">
						<div class="what-we-do-tiles-center">
							<div class="what-we-do-icon">
								<i class="fa fa-headphones" aria-hidden="true"></i>
							</div>
							<div class="what-we-do-title">
								Integer Pulvinar
							</div>
							<div class="what-we-do-details">
								integer is amet mattis quam, sit amet ultricies velit...
							</div>
						</div>
					</div>
				</div>
				<div class="col-6 float-left">
					<div class="what-we-do-tiles">
						<div class="what-we-do-tiles-center">
							<div class="what-we-do-icon">
								<i class="fa fa-calendar" aria-hidden="true"></i>
							</div>
							<div class="what-we-do-title">
								Integer Pulvinar
							</div>
							<div class="what-we-do-details">
								integer is amet mattis quam, sit amet ultricies velit...
							</div>
						</div>
					</div>
				</div>
				<div class="col-6 float-left">
					<div class="what-we-do-tiles">
						<div class="what-we-do-tiles-center">
							<div class="what-we-do-icon">
								<i class="fa fa-cubes" aria-hidden="true"></i>
							</div>
							<div class="what-we-do-title">
								Integer Pulvinar
							</div>
							<div class="what-we-do-details">
								integer is amet mattis quam, sit amet ultricies velit...
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="what-we-do-image-right"></div>
			</div>
		</div>
	</div>
</section>
<section class="years-in-the-field-section">
	<div class="container">
		<div class="row align-items-center center-item-height">
			<div class="col">
				<h2 class="years-in-field-title">Years in the field</h2>
				<div class="years-in-field-detail">integer is amet mattis quam, sit amet ultricies velit,  sit amet ultricies velit <br> integer is amet mattis quam, sit amet ultricies velit</div>
				<div class="years-in-field-number"><span>20+</span>years of experience</div>
			</div>
			<div class="col">
				<div class="col-4 float-left">
					<div class="years-in-field-customer">Happy customer</div>
					<div class="years-in-field-count">12K</div>
					<div class="years-in-field-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
				</div>
				<div class="col-4 float-left">
					<div class="years-in-field-customer">Completed work</div>
					<div class="years-in-field-count">15K</div>
					<div class="years-in-field-icon"><i class="fa fa-tasks" aria-hidden="true"></i></div>
				</div>
				<div class="col-4 float-left">
					<div class="years-in-field-customer">Total Tours</div>
					<div class="years-in-field-count">25K</div>
					<div class="years-in-field-icon"><i class="fa fa-files-o" aria-hidden="true"></i></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="what-people-are-saying">
	<div class="container">
		<div class="row">
			<h1 class="page-titles">what people are saying</h1>
			<div class="col">
				<!-- <div class="owl-carousel owl-theme">
				  <div> Your Content </div>
				  <div> Your Content </div>
				  <div> Your Content </div>
				  <div> Your Content </div>
				  <div> Your Content </div>
				  <div> Your Content </div>
				  <div> Your Content </div>
				</div> -->
				<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
				  <div class="carousel-inner">
				    <div class="carousel-item active">
				    	<div class="client-message-cover">
				    		<div class="client-message">integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer is amet mattis quam integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer is amet mattis quam integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer is amet mattis quam</div>
				    		<div class="client-image">
				    			<img src="../assets/images/team-1.jpg">
				    		</div>
				    		<div class="client-info">
				    			<h3>Adam Ster</h3>
				    			<p>UI developer</p>
				    		</div>
				    	</div>
				    </div>
				    <div class="carousel-item">
				        <div class="client-message-cover">
				    		<div class="client-message">integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer is amet mattis quam integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer is amet mattis quam integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer is amet mattis quam</div>
				    		<div class="client-image">
				    			<img src="../assets/images/team-2.jpg">
				    		</div>
				    		<div class="client-info">
				    			<h3>Adam Ster</h3>
				    			<p>UI developer</p>
				    		</div>
				    	</div>
				    </div>
				    <div class="carousel-item">
				        <div class="client-message-cover">
				    		<div class="client-message">integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer is amet mattis quam integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer is amet mattis quam integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer is amet mattis quam</div>
				    		<div class="client-image">
				    			<img src="../assets/images/team-3.jpg">
				    		</div>
				    		<div class="client-info">
				    			<h3>Adam Ster</h3>
				    			<p>UI developer</p>
				    		</div>
				    	</div>
				    </div>
				    <div class="carousel-item">
				        <div class="client-message-cover">
				    		<div class="client-message">integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer is amet mattis quam integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer is amet mattis quam integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer is amet mattis quam</div>
				    		<div class="client-image">
				    			<img src="../assets/images/team-4.jpg">
				    		</div>
				    		<div class="client-info">
				    			<h3>Adam Ster</h3>
				    			<p>UI developer</p>
				    		</div>
				    	</div>
				    </div>
				  </div>
				</div>

			</div>
		</div>
	</div>
</section>
<section class="ready-to-work-section">
	<div class="container">
		<div class="row align-items-center center-item-small-height">
			<div class="ready-to-work-mask">
				<div class="ready-to-work-mask-title">we are rady to work with you</div>
				<div class="ready-to-work-info">integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer is amet mattis quam integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer is amet mattis quam integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer is amet mattis quam</div>
				<button>contact us</button>
			</div>
		</div>
	</div>
</section>
<section class="new-letter-section">
	<div class="container">
		<div class="row">
			<h1 class="page-titles">news letter</h1>
			<div class="col">
				<div class="news-letter-info">integer is amet mattis quam, sit amet ultricies velit, sit amet ultricies velit integer</div>
			</div>
			<div class="col">
				<form>
					<div class="news-letter-email">
						<input type="text" class="news-letter-input">
					</div>
					<div class="news-letter-subscribe">
						<button>subscribe</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

